In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('hiring.csv')
dataset

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7        six         9.0                9  200000
8      seven         8.0                7  200000
9       five         9.0                8  180000

In [3]:
dataset['experience'].fillna(0, inplace=True)
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [4]:
dataset['test_score'].astype(int)

0     8
1     8
2     6
3    10
4     9
5     7
6     8
7     9
8     8
9     9
Name: test_score, dtype: int32

In [5]:
X = dataset.iloc[:, :3]

In [6]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [7]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [8]:
y = dataset.iloc[:, -1]

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression()

In [10]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [11]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

In [13]:
print(model.predict([[6, 9, 9]]))

[133202.21697695]